@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --g1: #90E9A4;
    --g2: #112A46;
    --g3: #E9F1F7;
    --g4: rgb(100, 100, 100);
    --g5: #C5E063;
    --g6: rgba(128, 128, 128, 0.3);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    padding: 3rem;
    background-color: var(--g1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.header-title {
    font-size: 4rem;
    display: flex;
    align-items: center;
    color: var(--g2)
}

.header-icon {
    height: 4rem;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar input {
    height: 4rem;
    border: solid var(--g3);
    border-radius: 1rem 0 0 1rem;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
}

.search-bar-icon {
    height: 4rem;
    border: solid var(--g3);
    background-color: var(--g3);
    border-radius: 0 1rem 1rem 0;
    color: var(--g2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.shopping-cart-icon {
    font-size: 3rem;
    color: var(--g2);
    display: flex;
    align-items: end;
    gap: 0.5rem;
    cursor: pointer;
}

.shopping-cart-icon p {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.shopping-cart-counter.active {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 50%;
    padding: 0.3rem;
    height: 2.5rem;
    width: 2.5rem;
}

.shopping-cart-counter p {
    color: white;
    font-size: 1.6rem;
}

.categories {
    padding: 1rem 2rem 2rem;
    /* top right-left bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--g2);
}

.categories-title {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    letter-spacing: 0.1rem;
}

.categories-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.categories-items button,
.product button,
.total-amount button {
    background: none;
    font-size: 2rem;
    border: solid var(--g3);
    border-radius: 2rem;
    color: var(--g2);
    padding: 1rem;
}

.categories-items button:hover {
    border-color: var(--g1);
    background-color: var(--g1);
    transition: all 0.3s ease-in-out;
}

.categories-items button.active {
    border-color: var(--g1);
    background-color: var(--g1);
}

.products {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.product {
    padding: 2rem;
    max-width: 35rem;
    border: solid var(--g3);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.product img {
    object-fit: contain;
    height: 20rem;
}

.product h1 {
    font-size: 3rem;
}

.product h1::first-letter,
.categories-items button::first-letter,
.shopping-cart-modal table tr td:nth-child(2) {
    text-transform: capitalize;
}

.product p {
    font-size: 1.6rem;
    text-align: center;
    color: var(--g4);
}

.product button {
    background-color: var(--g3);
}

.product-price {
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.product-price-sale {
    display: none;
}

.product.on-sale .product-price-sale {
    display: block;
    color: rgb(4, 230, 4);
    margin-left: 1rem;
}

.product.on-sale .product-price-default {
    font-size: 2rem;
    position: relative;
}

.product.on-sale .product-price-default::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 0.2rem;
    background-color: black;
    top: 50%;
    left: -5%;
}

.product-quantity {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.product-quantity-counter {
    display: flex;
    align-items: center;
}

.product-quantity-counter input {
    height: 4.8rem;
    font-size: 3rem;
    width: 12rem;
    text-align: center;
    color: var(--g4);
}

.product-quantity-counter ::-webkit-inner-spin-button,
.product-quantity-counter ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-quantity-counter button {
    height: 4.8rem;
    width: 3.5rem;
}

.product-quantity-counter button:nth-of-type(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.product-quantity-counter button:nth-of-type(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.product-measure {
    font-size: 1.6rem;
    color: var(--g4);
}

.empty-state {
    display: none;
    font-size: 5rem;
    margin: 10rem auto;
    color: var(--g4);
    text-align: center;
}

.empty-state.active {
    display: block;
}

.shopping-cart-modal-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    background-color: var(--g6);
    height: 100%;
    width: 100%;
}

.shopping-cart-modal {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50rem;
    padding: 1.5rem;
    border-radius: 2rem;
    gap: 2rem;
}

.shopping-cart-modal table {
    border-collapse: collapse;
    font-size: 1.6rem;
}

.shopping-cart-modal table button {
    background: none;
    border: none;
    transition: ease-in-out 0.3s;
    font-size: 1.6rem;
}

.shopping-cart-modal table button:hover {
    color: red;
}

.shopping-cart-modal table th,
.shopping-cart-modal table td {
    border-bottom: 0.2rem solid var(--g3);
    padding: 1rem;
    text-align: center;
}

.total-amount {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

.total-amount span {
    padding: 0 0.5rem;
}

.total-amount button {
    background-color: var(--g3);
}

.shopping-cart-modal .close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--g2);
    transition: ease-in-out 0.3s;
    border-radius: 50%;
}

.shopping-cart-modal .close-button:hover {
    background-color: var(--g3);
}

@media screen and (min-width:1450px) {
    .container {
        display: flex;
    }

    .categories {
        align-items: center;
        border-right: solid var(--g3);
        min-width: 30rem;
        padding: 0;
        position: sticky;
        top: 0;
        left: 0;
        align-self: flex-start;
        height: 100vh;
    }

    .categories-title {
        background-color: var(--g3);
        width: 100%;
        text-align: center;
        padding: 1rem;
    }

    .categories-items {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .categories-items button {
        width: 100%;
        border: none;
        border-radius: 0;
    }

    .products {
        padding: 2rem;
    }

    .empty-state {
        margin: auto;
    }
}

@media screen and (max-width: 900px) {
    .header-title {
        font-size: 3rem;
    }

    .header-icon {
        height: 3rem;
    }
}

@media screen and (max-width: 800px) {
    nav {
        flex-wrap: wrap;
        gap: 3rem;
    }

    .search-bar {
        order: 1;
    }
}

@media screen and (max-width: 480px) {
    nav {
        gap: 2rem;
    }

    .header-title {
        font-size: 2.5rem;
    }

    .header-icon {
        height: 2.5rem;
    }

    .shopping-cart-icon {
        font-size: 2.5rem;
    }

    .shopping-cart-counter+p {
        display: none;
    }

    .shopping-cart-counter.active {
        height: 2rem;
        width: 2rem;
    }

    .shopping-cart-counter p {
        font-size: 1.5rem;
    }

    .shopping-cart-modal {
        width: 100%;
    }
}